@{
    Layout = "~/Views/Shared/_BlobLayout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML5 paste image to page</title>


    <link rel='stylesheet prefetch' href='https://s3-us-west-2.amazonaws.com/s.cdpn.io/9729/cyborg_bootstrap.min.css'>
    <style>
        /*modal dialog*/
        #loading {
            opacity: .5;
            filter: alpha(opacity=50);
        }

        #loading-image {
            position: absolute;
            z-index: 100;
            display: none;
        }

        #emailname {
            font-size: 20px;
            margin: 10px;
        }

        #email:focus {
            color: black !important;
        }

        .modal-dialog {
            margin: 0 !important;
            height: auto;
            width: auto;
        }

        .modal {
            overflow-y: auto !important;
            bottom: inherit !important;
        }

        .modal-footer {
            margin: 0 !important;
        }

        span > input {
            padding-left: 2px;
            outline: none;
            border: none;
            border-bottom: groove;
            background: #F8EC9D;
        }

        #email {
            border: none !important;
            border-bottom: groove !important;
            width: 100%;
        }

        .container {
            width: auto !important;
        }
        /* NOTE: The styles were added inline because Prefixfree needs access to your styles and they must be inlined if they are on local disk! */
        .target {
            border: solid 1px #aaa;
            min-height: 200px;
            width: 30%;
            margin-top: 1em;
            border-radius: 5px;
            cursor: pointer;
            transition: 300ms all;
            position: relative;
        }

        .contain {
            background-size: cover;
            position: relative;
            z-index: 10;
            top: 0px;
            left: 0px;
        }

        textarea {
            background-color: white;
        }

        .active {
            box-shadow: 0px 0px 10px 10px rgba(0,0,255,.4);
        }

        @@media only screen and (max-width: 768px) {
            /* For mobile phones: */
            #loading-image {
                width: 300px;
            }
        }
    </style>

    <!--imagepopup-->
    <style>
        .popup {
            margin: auto;
        }

            .popup img {
                width: 200px;
                height: 200px;
                cursor: pointer;
            }

        .show {
            z-index: 999;
            display: none !important;
        }

            .show .overlay {
                width: 100%;
                height: 100%;
                background: rgba(0,0,0,.66);
                position: absolute;
                top: 0;
                left: 0;
            }

            .show .img-show {
                width: 600px;
                height: 400px;
                background: #FFF;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                overflow: hidden;
            }

        .img-show span {
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 99;
            cursor: pointer;
        }
        .modal-backdrop{
            display:none!important;
        }
        .img-show img {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
        /*End style*/
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
</head>
<body>
    @*//on-load pop-up*@
    <!-- Modal -->
    <button hidden data-toggle="modal" data-target="#myModal" id="loginid" type="submit">Login</button>
    <div id="myModal" style="width:360px;" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="color:black">Authorization..</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <input id="email" type="email" style="height:auto" placeholder="Enter your id.." />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="submit">Login</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="close">Or Continue as Guest</button>
                </div>
            </div>

        </div>
    </div>

    <button hidden data-toggle="modal" data-target="#imagemodel" id="imagepop" type="submit">Login</button>
    <!--imagepopup-->
    <div id="imagemodel" style="width:90%;left:25%" class="modal fade" role="dialog">
        <div class="modal-dialog" style="padding:0px;max-height: 600px">
            <!-- Modal content-->
            <div class="modal-content" style="max-height: 580px;">
                <div style="padding:15px">
                    <button type="button" style="opacity:1;color:red" class="close" data-dismiss="modal">&times;</button>
                    <a id="deleteimage" style="color:red;float:right;opacity:0.5;outline:none;font:bold;cursor:pointer;padding-right:2%;" data-dismiss="modal">Delete</a>
                </div>
                <div class="modal-body" style="max-height:none" id="modelimage">
                </div>
            </div>

        </div>
    </div>


    <!-- http://strd6.com/2011/09/html5-javascript-pasting-image-data-in-chrome/ -->
    <div class="container fluid">
        <div id="loading">
            <img style="color:#0026ff" id="loading-image" src="~/Content/loader-gif-transparent.gif" alt="Loading..." />
        </div>

        <div style="padding-top:4%;" class="popup">
        </div>

    </div>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="~/Content/ImagePaste/js/ihwco.js"></script>
    <script src="~/Content/ImagePaste/js/index.js"></script>



</body>
</html>

<script>
    var owner="";
    $.ajaxSetup({
        async: false
    });
    $('#loginid').trigger('click');
    $('#submit,#close,.close').click(function () {

        $('#loading-image').show();
        owner = $('#email').val();
        if (owner == "") {
            owner = 'User';
            $('#weltxt').html('Welcome, ' + owner + " !!")
            $('#loginout').html('Login');
        }
        else {
            $('#weltxt').html('Welcome, ' + owner + " !!");
            $('#loginout').html('Logout');
        }
        getimages();
        });

    $('#deleteimage').click(function () {
        var imagepath=$('#modelimage img').attr('src');
        $.post('/Blob/DeleteImage', { 'path': imagepath }, function (data) {
            if (data) { alert('Deleted'); getimages(); }
            else alert('Failed');
        })
    })

    $(function () {
        $('div').on('click', '.popup img', function () {
            debugger
            var $src = $(this).attr("src");
            $("#modelimage").html("<img src='"+$src+"'/>");
            $('#imagepop').click();
        });
    })
    function getimages() {
        $('#loading-image').show();
        $.get('/Blob/GetImages?user=' + owner, function (data, status) {
            debugger
            $('.popup').html('');
            if (data.length == 0) {
                alert('No Images found!!');
            }
            else
                $.each(data, function (i, n) {
                    debugger
                    $('.popup').append('<img src="' + n.substr(n.indexOf('\\Content')) + '"/>&emsp;')
                })
            $('#loading-image').hide();
        })

    }


</script>







@*<div class="row">
    </div>
    <div class="row" id="images">
        <div class="span4 target"></div>
    </div>
    <div class="row">
        <div class="span12">
            <br />
            <div class="input-prepend">
                <span class="add-on">size</span>
                <input class="span2 size" id="size" type="text" placeholder="size of pasted image">
            </div>

            <div class="input-prepend">
                <span class="add-on">type</span>
                <input class="span2 type" id="type" type="text" placeholder="Image type pasted">
            </div>
            <div class="input-prepend">
                <span class="add-on">width</span>
                <input class="span2 type" id="width" type="text" placeholder="Width">
            </div>

            <div class="input-prepend">
                <span class="add-on">height</span>
                <input class="span2 type" id="height" type="text" placeholder="Height">
            </div>
        </div>
        <div class="span12">
            <legend>The dataURL of the image <a href="" id="test" target="_blank">See image in new window</a> or <a href="#" onclick="copy()">Copy to clipboard</a></legend>
            <textarea id="base64" cols="30" rows="10" class="data span12"></textarea>
        </div>
    </div>*@
